# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

/conf/etc/apache2/conf/name.conf
/conf/etc/apache2/conf/ssl.conf
/conf/etc/shibboleth/shibboleth2.xml
/conf/etc/ssl/extern/*

/conf/var/www/app/config/app_config.yml
/conf/var/www/app/config/database.yml
/conf/var/www/app/config/layout.rb
/conf/var/www/app/config/shibboleth.yml
